/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  padding: 1.5rem 0 3rem;
  text-align: center;
}

.disclaimer p {
  max-width: 720px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: var(--ifm-color-emphasis-700);
}
